@import 'bootstrap';
@import 'bootstrap-icons';
@import './helper.css';
@import './404.css';
@import '../../node_modules/flag-icon-css/css/flag-icons.min.css';


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ! NAVBAR */

#hamburger-list, #hamburger-list:focus, #hamburger-list:focus-visible{
    outline: none;
    box-shadow: none;
    font-size: 2.5rem;
}

.btn-close:focus, .btn-close:focus-visible {
    outline: none;
    box-shadow: none;
}

.nav-link {
    font-size: 1.2rem;
}

.dropdown-menu.show {
    display: block !important;
}

/* ! LOGIN */

.text-divider::before, .text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
} 

.img-preview {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
}


/* ! PAGINATION */
.page-link {
    background-color: white !important;
    color: black !important;
    font-weight: 500;
}

.page-link:hover {
    background-color: var(--light-orange) !important;
    opacity: 50%;
    border-color: var(--light-orange) !important;
    color: white !important;
}

.page-link:focus {
    box-shadow: none !important;
}

.disabled > .page-link {
    background-color: whitesmoke !important;
    opacity: 80%;
}

.active > .page-link {
    background-color: var(--red) !important;
    opacity: 90%;
    border-color: var(--red) !important;
    color: white !important;
    font-weight: bold;
}