/* ! COLOR */
:root {
    --light-grey: #cccccc;
    --grey: #333333;
    --light-orange: #f7931e;
    --orange: #f15a24;
    --red: #ed1c24;
    --dark-red: #c1272d;
    
}

/* ! BUTTON */
.btn-red {
    color: white;
    background-color: var(--red);
}
.btn-red:hover {
    color: white;
    background-color: var(--dark-red);
}

.btn-orange {
    color: white;
    background-color: var(--orange);
}
.btn-orange:hover {
    color: white;
    background-color: var(--red);
}

.btn-light-orange {
    color: white;
    background-color: var(--light-orange);
}
.btn-light-orange:hover {
    color: white;
    background-color: var(--orange);
}


/* ! TEXT */
.capitalize {
    text-transform: capitalize;
}


/* ! HEIGHT */
.min-vh-84 {
    min-height: 83.4vh;
}