/* ! COLOR */
:root {
    --light-grey: #cccccc;
    --grey: #333333;
    --light-orange: #f7931e;
    --light-dark-orange: #d87a1d;
    --orange: #f15a24;
    --dark-orange: #ce4a21;
    --red: #ed1c24;
    --dark-red: #c1272d;
}

/* ! BUTTON */
.btn-red {
    color: white;
    background-color: var(--red);
}
.btn-red:hover {
    color: white;
    background-color: var(--dark-red);
}

.btn-orange {
    color: white;
    background-color: var(--orange);
}
.btn-orange:hover {
    color: white;
    background-color: var(--dark-orange);
}

.btn-light-orange {
    color: white;
    background-color: var(--light-orange);
}
.btn-light-orange:hover {
    color: white;
    background-color: var(--light-dark-orange);
}


/* ! TEXT */
.capitalize {
    text-transform: capitalize;
}

/* ! IMG */
.position-center {
    background-position: center;
}


/* ! HEIGHT */
.min-vh-84 {
    min-height: 83.4vh;
}

.max-vh-3 {
    max-height: 3vh;
}

.max-vh-4 {
    max-height: 4vh;
}

/* ! POSITION */

.start-25 {
    left: 25%;
}

.bottom-75 {
    bottom: 75%;
}